@font-face {
    font-family: 'Vazirmatn';
    src: url('../../fonts/Vazir/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../../fonts/Vazir/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-sans: 'Vazirmatn', system-ui;
}
